<!DOCTYPE html>
<html>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>

<body>

    <div class="content">
        <!-- Page content -->
        <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAlibaba-103115824782414&tabs=212&width=340&height=136&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            width="340" height="136" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media"></iframe>
    </div>

</body>

</html>
